@media only screen and (max-width: 600px) {
    :root {
        --p1: 2.5px;
        --p2: calc(2 * var(--p1));
        --p4: calc(4 * var(--p1));
        --p5: calc(5 * var(--p1));
        --p6: calc(6 * var(--p1));
        --p8: calc(8 * var(--p1));
        --p16: calc(16 * var(--p1));
        --sb-color: #262626;
        --bg-color: rgb(219, 219, 219);
        --bullet-color: rgb(143, 143, 143);
        --scroll-bar-width: 0px;
        --content-width: 100vw;
        /* hack to cover scrollbar gap Chrome.... */
        --sidebar-width: var(--content-width);
        --sidebar-max-width: var(--sidebar-width);
        --content-max-width: var(--content-width);
        --html-width: 100vw;
        --html-max-width: 100vw;
        --gutter: 15px;
        --sb-gutter: 0px;
        --sidebar-height: 200vh;
        font-size: 15px;
    }
    html {
        display: block;
        position: unset;
    }
    .all-content {
        display: flex;
        flex-direction: column;
        flex-flow: flex-start;
        background-color: hsla(0, 0, 0, 0);
    }
    .pages {
        order: 0;
        position: static;
    }

    /* MAIN CONTENT */
    .pages .section {
        padding-left: var(--p4);
        padding-right: var(--p4);
    }

    /* SIDEBAR */
    .sidebar {
        position: fixed; /* remove fixed */
        right: 100vw;
        width: 100vw;
        height: 100%;
        order: 1;
        transition: 0.2s ease-out;
    }
    h1,
    h2,
    h3,
    .sidebar .section {
        text-align: center;
        padding-left: var(--p2);
        padding-right: var(--p2);
    }

    .sidebar .section,
    .sidebar .section:not(.subsection) {
        font-size: 0.8rem;
    }
    .sidebar .content {
        padding: var(--p1);
    }
    .sidebar .section h1 {
        padding-top: var(--p4);
    }
    .contact .section h1 {
        padding-top: var(--p2);
    }
    .sidebar .section h1 {
        font-size: 0.9rem;
        font-weight: 600;
    }
    .sidebar .subsection h2,
    .sidebar .section h2 {
        font-size: 0.8rem;
        font-weight: 600;
    }
    .sidebar h2 {
        font-size: 0.8rem;
        font-weight: 600;
    }
    #clicker {
        display: none;
        margin: 0 auto;
        text-align: center;
        position: absolute;
        top: 95vh;
        left: 0;
    }
    #clicker:checked {
        position: absolute;
        top: 0;
        left: 0;
    }
    #clicker:checked + .sidebar {
        position: fixed;
    }
    #clicker:checked ~ .sidebar {
        position: fixed;
        top: 0;
        right: 0;
    }
    #clicker:checked ~ .sidebar ~ .pages {
        display: none;
    }
    #clicker:checked ~ .sidebar ~ .pages ~ .sidebar-toggle {
        transform: rotate3d(0, 0, 1, 180deg);
        transform-origin: center;
        /* transition: 0.2s ease-in-out; */
    }
    .sidebar-toggle {
        display: block;
        position: fixed;
        perspective: 1px;
        top: 50vh;
        left: 0vw;
        width: 2ch;
        margin: 0 auto;
        text-align: center;
        color: var(--bg-color);
        font-weight: 600;
        font-size: 1.2rem;
        /* transform: translateX(46vw); */
        /* transition: 0.2s ease-in-out; */
    }

    /* MAIN CONTENT */
    .citation + .citation {
        padding-top: var(--p4);
    }
    .citation {
        display: inline-block; /* remove flex */
    }
    .citation .title {
        font-size: 0.8rem;
    }
    .citation .year {
        font-size: 1rem;
        display: inline;
        float: left;
        padding-top: var(--p1);
        margin-right: 0.75ch;
        /* position: absolute; */
    }
    /* For getting the year to wrap as desired: https://stackoverflow.com/a/8002002 */
    .citation .title,
    .citation .journal,
    .citation .link {
        display: inline;
        line-height: 0;
    }
    .citation .title {
        display: inline;
        line-height: 0;
    }
    .citation .title p,
    .citation .journal p,
    .citation .link p {
        line-height: 0.8rem;
    }
    .citation .journal {
        display: inline;
        font-style: italic;
        font-size: 0.7rem;
    }
    .all-content {
        /* margin-left: calc(2 * var(--gutter)); */
    }
    .pages {
        /* left: calc(100vw + 2 * var(--gutter)); */
    }
}
