@media screen {
    :root {
        --sidebar-width: inherit;
        --sidebar-w: 30ch;
        --content-width: 120ch;
        --content-bg-color: white;
    }
    html {
        background-color: var(--bg-color);
    }
    body {
        background-color: var(--content-bg-color);
    }
    .sidebar {
        --color: rgb(219, 219, 219);
        position: fixed;
        right: -40ch;
        width: var(--sidebar-width);
        background-color: var(--sb-color);
        color: var(--sidebar-color);
        /* display: flex; */
        /* flex-direction: column; */
        /* flex-wrap: nowrap; */
        /* justify-content: flex-start; */
        /* align-items: flex-start; */
        /* gap: 1rem; */
        /* flex: 0 1 auto; */
        /* left: 0; */
    }
}
